<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="">
    <div class="card text-center" style=" 
    background:rgb(220,220,220);
    max-width: 120rem;
    width: 70%;
    margin: 2rem auto;">
        <div style=" 
        
        width: 50%;
        margin:0 auto;">
            <strong>asdadsdassda</strong>
        </div>
        <br>
        <div>
            <p> sdsaasdads </p>

        </div>
        <a href="" style="display: block; margin: 0 auto;" class="btn btn-primary">dsaadssda</a>
    </div>
</body>

</html>